In [11]:
import pandas as pd
import numpy as np

In [20]:
coffee_data = pd.read_csv("coffee_consumption.csv", encoding="latin")
coffee_data.head(20)

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,700","40,042","41,196","40,756","40,979","41,585","42,440","41,571","43,622","42,087"
2,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,908,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN
3,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,650,934,871,934,915,"1,245",NaN,NaN,NaN,NaN
4,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bulgaria,102,17,175,327,353,393,246,275,324,...,445,409,395,360,376,419,NaN,NaN,NaN,NaN
6,Croatia,NaN,NaN,135,132,164,288,304,361,320,...,377,366,370,367,360,387,NaN,NaN,NaN,NaN
7,Cyprus,31,45,39,78,45,43,52,46,46,...,77,75,74,81,85,89,NaN,NaN,NaN,NaN
8,Czech Republic,659,525,472,448,509,511,475,485,523,...,621,525,470,572,685,637,NaN,NaN,NaN,NaN
9,Denmark,865,909,959,891,908,758,895,808,854,...,688,676,806,762,800,822,NaN,NaN,NaN,NaN
10,Estonia,NaN,NaN,13,44,63,83,84,99,90,...,154,123,105,67,104,120,NaN,NaN,NaN,NaN
11,Finland,"1,070",966,"1,030","1,129","1,050",735,901,939,"1,001",...,"1,115","1,058","1,080","1,093","1,082","1,095",NaN,NaN,NaN,NaN
12,France,"5,205","5,557","5,614","5,507","5,111","5,313","5,512","5,487","5,351",...,"5,152","5,677","5,713","5,962","5,790","5,707",NaN,NaN,NaN,NaN
13,Germany,"7,279","12,377","9,570","11,325","8,214","11,231","10,594","9,670","9,976",...,"9,535","8,897","9,292","9,460","8,830","9,378",NaN,NaN,NaN,NaN
14,Greece,631,387,320,148,356,383,715,739,668,...,978,974,994,"1,023","1,076","1,101",NaN,NaN,NaN,NaN
15,Hungary,574,380,348,557,724,447,571,602,652,...,494,445,376,180,252,177,NaN,NaN,NaN,NaN
16,Ireland,120,113,91,107,127,107,87,97,92,...,115,134,160,179,214,196,NaN,NaN,NaN,NaN
17,Italy,"4,832","4,254","4,132","4,888","4,774","4,644","4,776","4,913","4,936",...,"5,892","5,806","5,781","5,689","5,710","5,634",NaN,NaN,NaN,NaN
18,Latvia,NaN,NaN,19,41,6,14,50,120,134,...,115,88,99,101,101,95,NaN,NaN,NaN,NaN
19,Lithuania,NaN,NaN,2,9,37,68,66,108,135,...,204,210,223,180,193,197,NaN,NaN,NaN,NaN

In [22]:
# Let's clear out some columns and rows
# Drop all teh NaN rows (blank or formatting rows in Excel)
coffee_data.drop([0, 31, 38, 40])

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,700","40,042","41,196","40,756","40,979","41,585","42,440","41,571","43,622","42,087"
2,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,908,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN
3,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,650,934,871,934,915,"1,245",NaN,NaN,NaN,NaN
4,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bulgaria,102,17,175,327,353,393,246,275,324,...,445,409,395,360,376,419,NaN,NaN,NaN,NaN
6,Croatia,NaN,NaN,135,132,164,288,304,361,320,...,377,366,370,367,360,387,NaN,NaN,NaN,NaN
7,Cyprus,31,45,39,78,45,43,52,46,46,...,77,75,74,81,85,89,NaN,NaN,NaN,NaN
8,Czech Republic,659,525,472,448,509,511,475,485,523,...,621,525,470,572,685,637,NaN,NaN,NaN,NaN
9,Denmark,865,909,959,891,908,758,895,808,854,...,688,676,806,762,800,822,NaN,NaN,NaN,NaN
10,Estonia,NaN,NaN,13,44,63,83,84,99,90,...,154,123,105,67,104,120,NaN,NaN,NaN,NaN
11,Finland,"1,070",966,"1,030","1,129","1,050",735,901,939,"1,001",...,"1,115","1,058","1,080","1,093","1,082","1,095",NaN,NaN,NaN,NaN
12,France,"5,205","5,557","5,614","5,507","5,111","5,313","5,512","5,487","5,351",...,"5,152","5,677","5,713","5,962","5,790","5,707",NaN,NaN,NaN,NaN
13,Germany,"7,279","12,377","9,570","11,325","8,214","11,231","10,594","9,670","9,976",...,"9,535","8,897","9,292","9,460","8,830","9,378",NaN,NaN,NaN,NaN
14,Greece,631,387,320,148,356,383,715,739,668,...,978,974,994,"1,023","1,076","1,101",NaN,NaN,NaN,NaN
15,Hungary,574,380,348,557,724,447,571,602,652,...,494,445,376,180,252,177,NaN,NaN,NaN,NaN
16,Ireland,120,113,91,107,127,107,87,97,92,...,115,134,160,179,214,196,NaN,NaN,NaN,NaN
17,Italy,"4,832","4,254","4,132","4,888","4,774","4,644","4,776","4,913","4,936",...,"5,892","5,806","5,781","5,689","5,710","5,634",NaN,NaN,NaN,NaN
18,Latvia,NaN,NaN,19,41,6,14,50,120,134,...,115,88,99,101,101,95,NaN,NaN,NaN,NaN
19,Lithuania,NaN,NaN,2,9,37,68,66,108,135,...,204,210,223,180,193,197,NaN,NaN,NaN,NaN
20,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,239,222,232,215,212,241,NaN,NaN,NaN,NaN
21,Malta,20,13,16,22,12,21,9,9,7,...,23,14,12,16,21,22,NaN,NaN,NaN,NaN
22,Netherlands,"2,383","2,488","3,261","2,719","2,122","2,293","2,509","2,367","1,961",...,"1,324",898,"1,347",909,"1,382","1,625",NaN,NaN,NaN,NaN
23,Poland,335,243,"1,650","1,545","1,742","1,637","1,755","1,966","1,965",...,"1,681","2,001","2,156","2,034","1,936","1,669",NaN,NaN,NaN,NaN
24,Portugal,467,448,573,529,673,632,615,603,696,...,747,731,812,859,828,840,NaN,NaN,NaN,NaN
25,Romania,442,335,601,420,347,550,696,630,584,...,807,775,796,802,849,891,NaN,NaN,NaN,NaN
26,Slovakia,NaN,NaN,NaN,276,234,223,244,234,241,...,341,213,337,388,201,328,NaN,NaN,NaN,NaN
27,Slovenia,NaN,NaN,115,148,152,140,164,161,162,...,194,198,205,208,185,184,NaN,NaN,NaN,NaN
28,Spain,"2,714","2,651","3,045","2,728","2,774","2,732","2,901","2,977","2,996",...,"3,485","3,352","3,232","3,149","3,435","3,234",NaN,NaN,NaN,NaN
29,Sweden,"1,689","1,604","1,634","1,618","1,669","1,204","1,298","1,241","1,248",...,"1,272","1,133","1,221","1,125","1,159","1,175",NaN,NaN,NaN,NaN
30,United Kingdom,"2,348","2,342","2,516","2,534","2,640","2,200","2,406","2,441","2,588",...,"3,067","3,220","3,134","2,925","2,926","2,828",NaN,NaN,NaN,NaN
32,Japan,"5,060","5,809","5,132","5,740","5,973","6,116","5,838","5,968","6,052",...,"7,065","7,130","7,192","7,015","7,131","7,435","7,494","7,695","7,872","7,742"
33,Norway,727,758,736,690,800,657,713,675,702,...,715,715,746,785,723,763,729,788,782,781
34,Russian Federation,NaN,NaN,"1,377","1,795","1,712","1,650","1,063","1,857","1,647",...,"3,633","3,113","3,700","3,754","3,696","3,648","4,021","3,846","4,439","4,512"
35,Switzerland,907,949,995,869,944,935,922,712,811,...,"1,149",966,"1,012","1,035","1,047","1,123","1,028","1,096","1,066",894
36,Tunisia,101,90,111,101,137,137,144,165,147,...,317,289,301,415,421,429,460,458,465,546
37,USA,"18,298","18,661","18,290","19,217","17,326","17,363","18,059","17,795","18,604",...,"21,652","21,436","21,783","22,044","22,232","23,417","23,767","24,438","25,243","26,186"
39,Total,"59,322","63,930","64,882","68,704","63,742","65,593","66,780","66,525","67,927",...,"75,231","73,690","75,931","75,804","76,229","78,400","79,938","79,891","83,489","82,749"

In [30]:
# Let's get some GDP goodness. 
gdp_file = pd.read_csv("gdp_data.csv")
gdp_file.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value Flag Codes
0      AUS  GDPHRWKD     TOT     USD         A  1970  26.793218        NaN
1      AUS  GDPHRWKD     TOT     USD         A  1971  27.462937        NaN
2      AUS  GDPHRWKD     TOT     USD         A  1972  28.067364        NaN
3      AUS  GDPHRWKD     TOT     USD         A  1973  28.645413        NaN
4      AUS  GDPHRWKD     TOT     USD         A  1974  28.189555        NaN

In [31]:
# Drop unneeded GDP info
gdp_data = gdp_file.drop(['INDICATOR', 'MEASURE', 'FREQUENCY', "Flag Codes"], axis=1)
gdp_data.head()

  LOCATION SUBJECT  TIME      Value
0      AUS     TOT  1970  26.793218
1      AUS     TOT  1971  27.462937
2      AUS     TOT  1972  28.067364
3      AUS     TOT  1973  28.645413
4      AUS     TOT  1974  28.189555

In [33]:
snapshot_gdp = gdp_data.head(20)
snapshot_gdp.to_csv("gdp_data_sample.csv")

In [35]:
snapshot_coffee = coffee_data.head(20)
snapshot_coffee.to_csv("coffee_data_sample.csv")